<h1>{{title}}</h1>
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

<!-- diaplay input value -->
<!-- <input type="text" 
#box
(input)="getValue(box.value)" placeholder="Enter Name" name="Name" />
<h2>{{DisaplayVal}}</h2> -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- If esle -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- <h1 *ngIf = "show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
  <h1>
    If block
  </h1>
</ng-template>

<ng-template #elseBlock>
<h1>
  Else block
</h1>
</ng-template> -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- Switch in angular -->
<!-- <div [ngSwitch]="color">
  <h1 style="color:  red;" *ngSwitchCase="'red'">HI </h1>
  <h1 style="color:  orange;" *ngSwitchCase="'orange'">HI </h1>
  <h1 style="color:  yellow;" *ngSwitchCase="'yellow'">HI </h1>
  <h1 style="color:  green;" *ngSwitchCase="'green'">HI </h1>
  <h1  *ngSwitchDefault=>HI </h1>

</div> -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- LOOP -->

<!-- <h3 *ngFor="let item of users">name is : {{item}}</h3>
<h3 *ngFor="let item of userDetails"> {{item.name}}  {{item.Email}}    {{item.age}}</h3> -->
<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<!-- form -->
<!-- 
<form #Form1="ngForm" (ngSubmit)="getData(Form1.value)">
  <input type="text" ngModel name="user" placeholder="Enter user name"/>
  <br/> <br/>
  <input type="text" ngModel name="Email" placeholder="Enter user Email"/>
  <br/><br/>
  <input type="text" ngModel name="Password" placeholder="Enter Password"/>
  <br/><br/>
  <button>login</button>

</form>
<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.Email}}</li>
  <li>{{userData.Password}}</li>
</ul> -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
